body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

body{position:relative;font-family:"microsoft yahei"}
.directTool{position:fixed;top:1rem;left:2rem;list-style:none;height:2rem;width:22rem;background:rgba(255,255,255,0.9);
  border-radius:0.3rem;  display:flex;
}
.directTool li{flex:1;box-sizing: border-box;position:relative;font-size:0.8rem;}
.directTool li:after{
  content:"";
  display:block;
  position:absolute;
  width:1px;
  height:1rem;
  
  background:#ccc;
  left:0;
  top:0.5rem;
}
.directTool li.road:after{content:none;}
.directTool li span{height:2rem;line-height:2rem;vertical-align:middle;text-align:center;display:block;color:#72400b;}
.wrap{position:relative;}
.peach{position:absolute;top:43rem;left:53rem;font-size:0.6rem;cursor:pointer;}
.listen{position:absolute;width:44px;height:35px;background:url(maker.png);}
.scentitle{padding:0.2rem 0.5rem;border:2px solid #72400b;border-radius:0.3rem;background:rgba(255,255,255,0.8);}
/*.scentitle span{padding:0.2rem 0.5rem;display:block;border:2px solid #72400b;border-radius:0.3rem;}*/
.fisharea{top:57rem;left:36rem;}
.watergoo{top:62rem;left:50rem;}
.introduce_panel{position:absolute;top:33rem;left:49rem;color:#5b5b5b;background:rgba(255,255,255,1);border-radius:0.3rem;width:18rem;height:10rem;}
.introduce_panel h5{font-size:0.5rem;text-indent:.7rem;}
.title{background:#f7f7f7;border-bottom:solid 1px #e8e8e8;height:2rem;border-top-left-radius:0.3rem;
  position:relative;border-top-right-radius:0.3rem;line-height:2rem;}
.close{font-weight:100;position:absolute;top:0rem;right:1rem;cursor:pointer;}
.picWords{display:flex;padding:0.8rem 0.8rem;}
.picWords>div.imgP{flex:1.3;border-radius:0.4rem;overflow:hidden;}
.picWords>div.imgP img{width:100%;}
.picWords>div.wordsP{flex:2;padding-left:0.8rem;box-sizing:padding-box;}
.wordsP p{font-size:.8rem;line-height:1rem;}




.main {
  width: 2005px;
  height: 3000px;
  background: url("./bg.jpg") no-repeat 0 0;
  position: relative
}

.controlbar{
  height: 600px;
  width: 600px;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0;
  bottom: 0;
}
.controlbar span{
  font-size: 10em;
  color: #fff;
  display: block;
  height:200px;
  width: 200px;
  background: rgba(0, 0, 0, .8);
  position: absolute
}

.controlbar span.up{
  left: 200px
}
.controlbar span.right{
  left: 400px;
  top: 200px;
}
.controlbar span.down{
  top: 400px;
  left: 200px;
}
.controlbar span.left{
  top: 200px
}

.point{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #f00;
  position: absolute;
}

.sightitle {
  font-size: 2rem;
  border: 1px solid #72400b;
  border-radius: 0.5rem;
  line-height: 2rem;
  position: absolute;
  background: rgba(255,255,255,0.8);
  padding: 0.2rem 0.5rem;
}